<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server management</title>

    <script src="./static/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="./static/7911-base.css" rel="stylesheet" />
    <link href="./static/7911-dropdown.css" rel="stylesheet" />

    <link href="./static/material-icons.css" rel="stylesheet">

</head>

<body>

<div id="cloudia-fe">

    <div class="container">

        <!-- Overlay -->
        <div id="overlay" v-show="showModal">

            <div id="modal">
                <div class="title">
                    <h3>{{ modalData.title }}</h3>
                    <span class="close-btn" @click="closeDetail">&times;</span>
                </div>

                <div class="content">

                    <span v-html=modalData.content></span>

                </div>
                
            </div>

        </div>
        <!-- END Overlay-->


        <!-- Main view definition -->

        <div class="servers">
            <div class="servers_menu">
                <input type="text" v-model="filter" class="filter"></input>

                <div class="dropdown">
                    <span class="material-icons">menu</span>

                    <div class="drop-content">
                        <a href="#login">Graphs</a>
                        <a href="#about-me">Alerts</a>
                        <a href="#jobs-status">Jobs</a>
                        <hr>
                        <a href="#about-me">My account</a>
                        <a href="#login">Logout</a>
                    </div>
                </div>
                    
            </div>
            

            <div v-for="node in filteredServers" 
                class="item"
                >
                <template>
                    <div class="label" @click="showDetail(node.fqdn)">
                        
                        <span v-if="node.status == 'running'" class="material-icons">done</span>
                        <span v-else title="Current status is " class="material-icons">error_outline</span>
                        <b> {{node.fqdn}} </b> ({{node.public_ip}})

                    </div>
                    
                    <span class="material-icons right" @click="deleteNode(node.fqdn, node.public_ip)">delete</span>
                    <span class="material-icons right" @click="planJobForm(node.fqdn)">play_circle</span>
                    <span class="material-icons right" @click="refreshStatus(node.fqdn)">restart_alt</span>
                    


                </template>

            </div>

            <div class="servers_new">
                <div>
                    <label>Add server: </label>
                    <input v-model="newNode.fqdn" type=text placeholder="my-server.example.com" />
                    <input v-model="newNode.ip" type=text placeholder="1.1.1.1" />
                    <button @click="addNode" class="btn-submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
        
    </div>

</div>

<script>
let getFetchParams = {
    mode: 'cors',
    method: 'GET',
    redirect: 'follow',
    cache: 'no-cache',
    origin: "127.0.0.1",
    referrerPolicy: 'no-referrer',
    headers: {
        'Content-Type': 'application/json',
        'Origin': "127.0.0.1",
        'User-Agent'  : 'cloudia-fe'
    }
}



const API_URL = "http://api-cloudia.fejk.net"

function fetchData() {
    fetch(API_URL + "/v1/servers", getFetchParams)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                this.servers = data;
            });
}

// Vue app
var nomList = new Vue({
    el: '#cloudia-fe',

    data: {
        showModal: false,
        modalData: {
            title: "example",
            content: "Nothing"
        },
        newNode: {
            ip: "",
            fqdn: ""
        },
        filter: "",
        servers: []
    },

    mounted() {
        fetchData();
    },

    methods: {
        closeDetail() {
            this.showModal = false;
        },

        showDetail(nodeFQDN) {
            this.showModal = true;
            this.modalData.title = nodeFQDN;
            this.modalData.content = "Detailed server information";
        },

        addNodeForm() {
            this.showModal = true;
            this.modalData.title = "create new node";
            this.modalData.content = ``;
        },

        addNode() {
            console.log(this.newNode);
            axios.post(API_URL + "/v1/servers/", {
                fqdn: this.newNode.fqdn,
                public_ip: this.newNode.ip
            })
                .then(response => {
                console.log(response);
            })
                .catch(error => {
                console.log(error);
            });

            fetchData();
        },

        deleteNode(nodeFQDN, ip) {
            console.log(nodeFQDN, ip);
            axios.delete(API_URL + "/v1/servers/", {
                fqdn: nodeFQDN,
                public_ip: ip
            })
                .then(response => {
                console.log(response);
            })
                .catch(error => {
                console.log(error);
            });
        },

        planJobForm(nodeFQDN) {
            this.showModal = true;
            this.modalData.title = "Plan job for node " + nodeFQDN;
            this.modalData.content = `
                <div class=plan_job>
                    <input style="width: 400px;" type=text placeholder="cat /etc/debian-release">
                    <button @click="planJob" class="btn-submit red">Run</button>
                </div>
            `;
        }


    },

    computed: {
        filteredServers() {
            return this.servers.filter(j => {
                return j.fqdn.toLowerCase().includes(this.filter.toLowerCase())
            })
        }
        
    }
});

</script>
</body>
</html>