.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-content {
    display: none;
    position: absolute;
    right: -30px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 5px 5px 10px;
    text-align: right;
}

.drop-content a {
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.drop-content a:hover {
    color: black;
    display: block;
    background-color: var(--main-blue);
    padding: 5px;
    text-decoration: none;
}

.drop-content hr {
    border: 1px dotted gainsboro;
}
