:root {
    --main-blue: rgb(0, 136, 255)

}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 246, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.servers {
    display: block;
    margin: 0px auto;
    padding: 0px;

    width: 800px;
    background-color: white;
}

.servers .item {
    display: block;
    padding: 5px 15px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    min-width: 350px;
    border-width: 1px;
    border-style: groove;
}

.servers .item:hover {
    background-color: aliceblue;
}


.servers_menu {
    background-color: var(--main-blue);
    width: 740px;
    padding: 10px 30px;
}

.servers_menu span {
    margin: 5px;
    font-size: 32px;
    position: relative;
    top: 10px;
}

input[type=text] {
    font-size: 18px;
    min-width: 200px;
    padding: 5px;
    background-color: white;
}


.servers_menu input[type=text] {
    width: 680px;
    font-size: 18px;
    padding: 5px;
    border: none;
    background-color: white;
}

.servers_new {
    width:100%;
    padding: 5px 20px;
}

.servers_new input[type=text] {
    width: 30%;
    float: center;
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
    border-style: dotted;
    background-color: white;
    border-radius: 5px;
    border-color: #D1D5DB;
}

.btn-submit {
  background-color: aliceblue;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #111827;
  padding: 5px 10px;
  margin: 2px 10px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  font-size: 20px;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;

}

.btn-submit:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}


.right {
    float: right;
}

.servers .label {
    width: 650px;
    display: inline-block;
}



.border-sizing {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#modal {
    display: block;
    min-width: 40%;
    min-height: 150px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-color: grey;
    border-width: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(10,10,10,0.8);
    resize: both;
}

#modal .title {
    color: black;
    background-color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 1px;

}

.close-btn {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25px;
    height: 25px;
    margin: 10px;
}

#modal .content {
    /* background-color: white; */
    min-height: 100px;
    padding: 5px 20px;
}

#modal button {
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin-left: 15px;
    font-size: 16px;
    min-width: 80px;
}

.green {
    background-color: rgb(176, 231, 176);
}

.blue {
    background-color: rgba(66, 136, 240, 0.505);
}

.red {
    background-color: rgba(255, 122, 107, 0.672);
}

.editor {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #aac;
    color: #000;
    outline: none;
}

