<script setup>
// import HelloWorld from './components/HelloWorld.vue'
import Servers from './Servers.vue'
</script>

<template>
  <div id="Servers">
    Hi
  </div>
</template>

<style scoped>

</style>
